*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color-1: #272d4e;
  --color-purple: #7854f7;
}
html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding-left: 5%;
  text-align: justify;
}

.btn {
  padding: 0.5em 0.8em;
  display: inline-block;
  font-size: 1.8rem;
  color: #fff;
}
.btn--radius {
  border-radius: 0.3em;
}
.btn--purple {
  background: var(--color-purple);
}

/* navbar */
.navbar {
  text-transform: capitalize;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
}
.navbar .navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navbar-actions {
  justify-self: end;
}
.navbar-actions .btn {
  margin-left: 1.8em;
}

.navbar .navbar-link {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--text-color-1);
}

.navbar .navbar-item:not(:first-of-type) {
  padding-left: 1.8em;
}
